.DS_Store
node_modules
dist
test-results/
package-lock.json
yarn.lock
vite.config.js.timestamp-*
/packages/create-svelte/template/CHANGELOG.md
/packages/package/test/**/package
/documentation/types.js
.env
env.json
.vercel_build_output
.svelte-kit
.cloudflare
.pnpm-debug.log
.netlify
.turbo
.vercel
.test-tmp
symlink-from
.idea/

__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3
*.sqlitedb
*.log
*.cache

venv/
